# Ansible managed
# Enable Ansible-color output in NON TTY environment
export PY_COLORS=1
export ANSIBLE_FORCE_COLOR=1

# GitHub CLI access
export GH_HOST=github.com
export GH_TOKEN=$(pass show token/spreadcat.at.github.com_gh_cli | head -n 1)
